    <header>
        <nav>
            <ul>
                <li> <a href="#">Pagina de inicio</a>
                <li> <a href="{{ path('default_index') }}">Empleados html</a>
                <li> <a href="{{ path('default_index_json', {_format: 'json'}) }}">Empleados json</a>
            </ul>
        </nav>
    </header>