<header>
    <nav>
        <ul>
            <li> <a href="{{ path('default_redirect_to_home') }}">Pagina de inicio</a></li>
            <li> <a href="{{ path('default_index') }}">Empleados html</a></li>
            <li> <a href="{{ path('default_index_json', {_format: 'json'}) }}">Empleados json</a></li>
        </ul>
    </nav>
</header>