    <header>
        <nav>
            <ul>
                <li> <a href="#">Pagina de inicio</a>
                <li> <a href="#">Empleados html</a>
                <li> <a href="#">Empleados json</a>
            </ul>
        </nav>
    </header>